.goodOfDay {
  .slick-dots {
    top: -35px;
    bottom: auto;
    left: 20px;

    & li {
      height: 25px;
      font-size: 1.5rem;
      font-weight: 500;
      color: rgba(59, 59, 59, 0.5);
    }

    & .slick-active {
      background-color: rgb(118, 188, 33);
      color: #fff !important;
    }
  }
}


.slick-dots {
  bottom: 10px;

  & li {
    & button:before {
      font-size: 11px;
    }
  }
}

.slick-disabled {
  opacity: .2;
}

.slick-prev-custom {
  background-image: url('/img/slider/prev-arrow.svg');
  position: absolute;
}

.slick-next-custom {
  background-image: url('/img/slider/next-arrow.svg');
  position: absolute;
}

.slick-prev-custom-round, .slick-next-custom-round {
  position: absolute;
  display: block;
  height: 45px;
  width: 45px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  top: calc(50% - 23px);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217, 217, 217);
  border-image: initial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 41px;
  outline: none;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px 0px, rgba(101, 171, 33, 0.95) 0px 1px 3px 0px;
  }
}
