.shop-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0 2rem 0;
  padding: 0 2rem;
  font-family: 'Kanit';

  & .filter {
    flex: 1;

  }

  & .list-of-goods-wrapper {
    flex: 3;
  }


}