@import 'PriceRangeSCSS/input-range';

.rn-edit-wrapper {
  display: flex;
  padding-left: 0 !important;
  margin: 1rem  0!important;
  justify-content: center;
  align-items: center;

  & input {
    width: 35%;
    padding: 2px;
    margin: 0 5px;
    font-size: .8rem;
  }

  & input[type=button] {
    width: 20%;
  }
}